@{
    ViewBag.title = "Japax Courrier - Blog";
}
<link href="~/css/blog.css" rel="stylesheet" />
<link href="~/css/service-common.css" rel="stylesheet" />
<style>
    .banner-img {
        max-width: 105%;
    }
</style>
<!-- Headline start -->
<section class="banner">
    <div class="container">
        <div class="row banner-row">
            <div class="col-md-6">
                <div class="promo-title">
                    <h2>Japax Blog</h2>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="image-dance normal-zoom">
                    <img id="module" src="~/images/blog/blog-bn-removebg-preview.png" class="banner-img">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="banner-after-sec">
    <div class="container">
        <div class="row">
            <div class="left-column">
                <div class="card">
                    <h2>Why Japax?</h2>
                    <h5>Title description, Dec 10, 2020</h5>
                    <img src="~/images/blog/img/delivery.png" alt="blog " />
                    <p>Some text..</p>
                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                </div>
                <div class="card">
                    <h2>Japax Courier</h2>
                    <h5>Title description, Dec 16, 2020</h5>
                    <img src="~/images/blog/img/courier-service1.jpg" alt="blog " />
                    <p>Some text..</p>
                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                </div>
            </div>
            <div class="right-column">
                <div class="card">
                    <h2>About ATC</h2>
                    <img src="~/images/blog/img/couerier2.jpg" alt="me" />
                    <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
                </div>
                @*<div class="card">*@
                <div class="popular">
                    <h3>Popular Post</h3>
                </div>
                <div class="card ">
                    <div class="card-body">
                        <img src="~/images/blog/card1.jpg" alt="popular" />
                        @*<h5 class="card-title">Card title</h5>*@
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Button</a>
                    </div>
                </div>
                @*<img src="~/images/blog/img/4.jpg" alt="popular" />
                    <img src="~/images/blog/img/5.jpg" alt="popular" />
                    <img src="~/images/blog/img/6.jpg" alt="popular" />*@
                @*</div>*@
                <div class="card">
                    <h3>Follow Us</h3>
                    <p>Some Text...</p>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $('.image-dance').on('mousemove', function (event) {
        // This gives you the position of the image on the page
        var bbox = event.target.getBoundingClientRect();

        // Then we measure how far into the image the mouse is in both x and y directions
        var mouseX = event.clientX - bbox.left;
        var mouseY = event.clientY - bbox.top;

        // Then work out how far through the image as a percentage the mouse is
        var xPercent = (mouseX / bbox.width) * 100;
        var yPercent = (mouseY / bbox.height) * 100;

        // Then we change the `transform-origin` css property on the image to center the zoom effect on the mouse position
        //event.target.style.transformOrigin = xPercent + '% ' + yPercent + '%';
        // It's a bit clearer in jQuery:
        $(this).css('transform-origin', (xPercent + '% ' + yPercent + '%'));
        // We add the '%' units to make sure the string looks exactly like the css declaration it becomes.

    });

    // If you want it to automatically trigger on hover
    $('.image-dance').on('mouseenter', function () {
        $(this).addClass('zoom-in');
        $(this).removeClass('normal-zoom');
    });

    // and stop when not hovering
    $('.image-dance').on('mouseleave', function () {
        $(this).addClass('normal-zoom');
        $(this).removeClass('zoom-in');
    });
</script>