@{
    ViewBag.Title = "Japax Courier";
}
<link rel="stylesheet" href="~/css/home.css">
<!--head start-->
<section id="headSec" class="hero-section">
    <div class="row h-100">
        <div id="headLeft" class="col-md-5 banner-left-top">
            <div>
                <div class="banner-left-top-img">
                    <img id="banner-top-img-0" class="banner-top-img" src="~/images/home/animation/delivery-boy.svg" />
                    <img id="banner-top-img-1" class="banner-top-img" />
                    <img id="banner-top-img-2" class="banner-top-img" />
                    <img id="banner-top-img-3" class="banner-top-img" />
                    <img id="banner-top-img-4" class="banner-top-img" src="~/images/home/animation/24-hour.svg" />
                    <img id="banner-top-img-5" class="banner-top-img" />
                    <img id="banner-top-img-6" class="banner-top-img" />
                </div>
                <div class="text-center">
                    <span class='typewriter-text' data-text='[ "Dedicated Delivery Hero ", "Secure Payment ", "PickUp & Drop ", "Online Services ", "24/7 Customer Support ", "Realtime Tracking ", "Distribution Center "]'></span><br />
                </div>
            </div>
            <div class="m-auto tracking-input">
                <input type="text" class="textbox" placeholder="Enter Tracking ID">
                <input title="Search" type="submit" class="button" value="Track Parcel">
            </div>
        </div>
        <div class="col-md-7">
            <div class="align-items-end d-flex h-100 justify-content-center w-100 position-relative">
                <img src="~/images/home/final-right-panel.svg" class="w-100 banner-right-img" />
                <div class="banner-right-inside-slider">
                    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-interval="4000">
                                <img src="~/images/home/otp.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item" data-interval="4000">
                                <img src="~/images/home/sp.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item" data-interval="4000">
                                <img src="~/images/home/settings.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--head end-->
<!--service start-->
<section id="serviceTopSec"></section>
<section id="serviceSec" class="section-padding vh-100">
    <div class="container">
        <h2 class="section-headline text-center text-uppercase">Things that makes us Unique</h2>
        <div class="main-service" id="mainService">
            <div class="row">
                <div class="col-md-3 outside-box">
                    <div class="each-service">
                        <div class="service-img">
                                <img src="~/images/main/Service/pickup.png" />
                                <i class="fas fa-check icon-check"></i>

                        </div>
                        <div class="service-title">
                            PickUp & Drop
                        </div>
                        <div class="service-details">
                            We provide pickup and drop service. You can take our service from anywhere.
                        </div>
                    </div>
                </div>
                <div class="col-md-3 outside-box">
                    <div class="each-service">
                        <div class="service-img">
                                <img src="~/images/main/Service/call-center.png" />
                                <i class="fas fa-check icon-check"></i>
                        </div>
                        <div class="service-title">
                            Online Service
                        </div>
                        <div class="service-details">
                            You are just few clicks away, and we will take care of everything.
                        </div>
                    </div>
                </div>
                <div class="col-md-3 outside-box">
                    <div class="each-service">
                        <div class="service-img">
                                <img src="~/images/main/Service/tracking.png" />
                                <i class="fas fa-check icon-check"></i>
                        </div>
                        <div class="service-title">
                            Realtime Tracking
                        </div>
                        <div class="service-details">
                            We provide real-time tracking of your parcel.
                        </div>
                    </div>
                </div>
                <div class="col-md-3 outside-box">
                    <div class="each-service">
                        <div class="service-img">
                               <img src="~/images/main/Service/new-product.png" />
                                <i class="fas fa-check icon-check"></i>
                        </div>
                        <div class="service-title">
                            Packaging Service
                        </div>
                        <div class="service-details">
                            Not happy with your own packaging? We are here to help.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="another-service" id="anotherService">
            <div class="row">
                <div class="col-md-3 outside-box">
                    <div class="each-service">
                        <div class="service-img">
                            <img src="~/images/main/Service/warehouse (1).png" />
                            <i class="fas fa-check icon-check"></i>
                        </div>
                        <div class="service-title">
                            Warehouse
                        </div>
                        <div class="service-details">
                            Our dedicated distribution and sorting center are here to store your product.
                        </div>
                    </div>
                </div>
                <div class="col-md-3 outside-box">
                    <div class="each-service">
                        <div class="service-img">

                               <img src="~/images/main/Service/food-delivery.svg" />
                                <i class="fas fa-check icon-check"></i>
                         </div>
                        <div class="service-title">
                            Food Delivery
                        </div>
                        <div class="service-details">
                            Get food in your home as same as restaurant serves you.
                        </div>
                    </div>
                </div>
                <div class="col-md-3 outside-box">
                    <div class="each-service">
                        <div class="service-img">
                               <img src="~/images/main/Service/on-demand.png" />
                                <i class="fas fa-check icon-check"></i>

                        </div>
                        <div class="service-title">
                            On Demand Delivery
                        </div>
                        <div class="service-details">
                            We deliver products on demand as per requirement.
                        </div>
                    </div>
                </div>
                <div class="col-md-3 outside-box">
                    <div class="each-service">
                        <div class="service-img">
                                <img src="~/images/main/Service/logistics-delivery.png" />
                                <i class="fas fa-check icon-check"></i>

                        </div>
                        <div class="service-title">
                            Fulfilment Service
                        </div>
                        <div class="service-details">
                            Use your brain on business strategies and let us worry about logistics services.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--head end-->
<!--why choose us start-->
<section id="whyChooseSec" class="section-padding vh-100">
    <div class="container">
        <h2 class="section-headline text-center text-uppercase choose-headline">Why Choose Us??</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="why-choose">
                        <img src="~/images/home/why-choose/home-delivery.png" />
                        <div class="choose-icon-text">
                            <h4>Door To Door Service</h4>
                            <div class="choose-details">
                                We provide door to door service to pick up as well as to drop your parcel
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="why-choose">
                        <img src="~/images/home/why-choose/credit-card.png" />
                        <div class="choose-icon-text">
                            <h4>Flexible Payment</h4>
                            <div class="choose-details">
                                We provide door to door service to pick up as well as to drop your parcel.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="why-choose">
                        <img src="~/images/home/why-choose/food-delivery.png" />
                        <div class="choose-icon-text">
                            <h4>Permanent Delivery Boy</h4>
                            <div class="choose-details">
                                We have group of dedicated delivery heroes at your service.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="choose-img">
                    <img id="whyChoseMiddleImg" src="~/images/home/why-choose/choose_us_2.svg" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="why-choose-2">
                        <img src="~/images/home/why-choose/customer-service.png" />
                        <div class="choose-icon-text-2">
                            <h4>Helpline 24/7</h4>
                            <div class="choose-details-2">
                                Our dedicated support team is here to provide you 24/7 support.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="why-choose-2">
                        <img src="~/images/home/why-choose/order-tracking.png" />
                        <div class="choose-icon-text-2">
                            <h4>Realtime Tracking</h4>
                            <div class="choose-details-2">
                                Our real-time delivery confirmation can make sure your parcel has reached the destination safely.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="why-choose-2">
                        <img src="~/images/home/why-choose/smartphone.png" />
                        <div class="choose-icon-text-2">
                            <h4>Mobile Application</h4>
                            <div class="choose-details-2">
                                Our mobile application is extremely easy to use and you can get all our services easily.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--why choose us end-->
<!--testimonial start-->
<section id="testimonialSec" class="section-padding vh-100">
    <h2 class="section-headline text-center text-uppercase choose-headline">What Our Clients Say About Us</h2>
    <div class="testmonial-slider">
        <div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-12">
                    <div class="client-img m-auto">
                        <img src="~/images/home/client/client-img.png" alt="">
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 flex vcenter lg-center">
                    <div class="client-wrap is-white">
                        <p class="client-quote">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                            a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
                            Lorem Ipsum.
                        </p>
                        <div class="client-name">
                            <strong class="client-name">Edwin fouzi</strong>
                            <p class="client-position">Founder monir Chocolatier</p>
                        </div>
                        <div class="testi-icon">
                            <img src="~/images/home/client/testimonial-icon.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-12">
                    <div class="client-img m-auto">
                        <img src="~/images/home/client/client-img2.png" alt="">
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 flex vcenter lg-center">
                    <div class="client-wrap is-white">
                        <p class="client-quote">
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
                            literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
                            College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage,
                            and going through the cites of the word in classical literature, discovered the undoubtable source.
                        </p>
                        <div class="client-name">
                            <strong class="client-name"> Ayoub </strong>
                            <p class="client-position">Founder ABC</p>
                        </div>
                        <div class="testi-icon">
                            <img src="~/images/home/client/testimonial-icon.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-12">
                    <div class="client-img m-auto">
                        <img src="~/images/home/client/client-img3.png" alt="">
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 flex vcenter lg-center">
                    <div class="client-wrap is-white">
                        <p class="client-quote">
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                            in some form, by injected humour, or randomised words which don't look even slightly believable.Richard McClintock, a Latin professor at Hampden-Sydney
                            College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage,
                            and going through the cites of the word in classical literature, discovered the undoubtable source.
                        </p>
                        <div class="client-name">
                            <strong class="client-name"> Edward Smith </strong>
                            <p class="client-position">CEO Diove</p>
                        </div>
                        <div class="testi-icon">
                            <img src="~/images/home/client/testimonial-icon.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--testimonial end-->
<!--for service menu-->
<script src="~/js/home.js"></script>
