<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Japax Courier</title>
    <!-- CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/fontawesome-free-5.15.1-web/css/all.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
    <link href="~/css/responsive.css" rel="stylesheet" />
    <!-- jQuery -->
    <script src="~/js/jquery-3.5.1.min.js"></script>
</head>
<body>
    <!--header start-->
    <section>
        <header class="nav-bar">
            <nav class="navbar-expand-lg navbar-light navbar-top-back">
                <div class="container-fluid">
                    <div class="navbar navbar-top">
                        <div class="header-info-group">
                            <div class="header-info-icon phone">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="header-info-leveled">
                                <h5><a href="tel:+8809678128128" class="text-white">Call Us (+88) 096-78-128-128</a></h5>
                            </div>
                        </div>
                        <div class="header-info-group">
                            <div class="header-info-icon">
                                <i class="far fa-envelope"></i>
                            </div>
                            <div class="header-info-leveled">
                                <h5><a href="mailto:info@atc.co.bd" class="text-white">info@atc.co.bd</a></h5>
                            </div>
                        </div>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTopSupportedContent" aria-controls="navbarTopSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarTopSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li>
                                <li>
                                    <div class="header-info-group">
                                        <div class="header-info-icon">
                                            <i class="fa fa-users"></i>
                                        </div>
                                        <div class="header-info-leveled">
                                            <h5><a href="#" class="text-white">Member Area</a></h5>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="header-info-group">
                                        <div class="header-info-icon">
                                            <i class="fas fa-user-tie"></i>
                                        </div>
                                        <div class="header-info-leveled">
                                            <h5><a href="#" class="text-white">Become Merchant</a></h5>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div id="languageLi" class="dropdown nav-item nav-lang" style="border-bottom: 0; border-top: 0;">
                                        <a href="#" class="dropdown-toggle link nav-link lang" data-toggle="dropdown" style="padding: 0px 15px !important;color: #fff !important; border-left: 0; border-bottom: 0; line-height: 0;">
                                            <i class="fas fa-globe" style="margin-right: 3px;"></i>EN
                                        </a>
                                        <div class="dropdown-menu sub-menu-div">
                                            <ul class="navbar-nav sub-menu-ul">
                                                <li id="englishLi" class="nav-item" style="border-bottom: 1px solid #c1c1c1;">
                                                    <a class="nav-link sub-menu-a" href="#">English</a>
                                                </li>
                                                <li id="japaneseLi" class="nav-item">
                                                    <a class="nav-link sub-menu-a" href="#">Japanese</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <nav id="navBeforeScroll" class="navbar-expand-sm navbar-dark sticky-top navbar-custom nav-border-top p-0" style="background-color: #fff;border-bottom: 1px solid #eaeaef;border-top: 1px solid #eaeaef;">
                <div class="container-fluid nav-bar-before-scroll">
                    <div id="navBeforeScrollLogo" class="nav-logo">
                        <img class="nav-top-logo" src="~/images/main/logo.png" alt="logo" />
                        <p style="margin-bottom: 0; line-height: 1"> <span class="japax">Japax Courier</span></p>
                    </div>
                    <div id="navAfterScrollLogo" class="nav-logo" style="left: 8vw; display: none;">
                        <img src="~/images/main/logo.png" alt="logo" style="height:50px;" />
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContentMiddle" aria-controls="navbarSupportedContentMiddle" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContentMiddle">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a id="indexLi" class="nav-link" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a id="aboutLi" class="nav-link" href="/home/about">About Us</a>
                            </li>
                            <li class="dropdown nav-item" id="serviceDropdown">
                                <a href="#" class="dropdown-toggle link nav-link" data-toggle="dropdown">Services</a>

                                <div class="dropdown-menu dropdown-custom sub-menu-div-service">
                                    <ul class="nav sub-menu-ul-service">
                                        <li class="sub-menu-li p-20">
                                            <a href="#"><img src="~/images/home/why-choose/home-delivery.png" />PickUp & Drop</a>
                                        </li>
                                        <li class="sub-menu-li p-20">
                                            <a href="#"><img src="~/images/main/Service/call-center.png" />Online Service</a>
                                        </li>
                                        <li class="sub-menu-li p-20">
                                            <a href="#"><img src="~/images/main/Service/tracking.png" />Real-time Tracking</a>
                                        </li>
                                        <li class="sub-menu-li p-20">
                                            <a href="#"><img src="~/images/main/Service/new-product.png" />Packaging Service</a>
                                        </li>

                                        <li class="sub-menu-li p-20">
                                            <a href="#"><img src="~/images/main/Service/warehouse (1).png" />Warehouse</a>
                                        </li>
                                        <li class="sub-menu-li p-20">
                                            <a href="#"><img src="~/images/main/Service/food-delivery.svg" />Food Delivery</a>
                                        </li>
                                        <li class="sub-menu-li p-20">
                                            <a href="#"><img src="~/images/main/Service/on-demand.png" />On-demand Service</a>
                                        </li>
                                        <li class="sub-menu-li p-20">
                                            <a href="#"><img src="~/images/main/Service/logistics-delivery.png" />Fullfillment Service</a>
                                        </li>

                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Pricing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Coverage Map
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#">Blog</a>
                            </li>
                            <li class="nav-item ">
                                <a id="contactLi" class="nav-link" href="/home/contact">Contact Us</a>
                            </li>
                            <li class="nav-item nav-track">
                                <a class="nav-link track" href="#">Estimate Price</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </section>
    <!--header end-->
    <!--floating icon start-->
    <!--google play start-->
    <a href="#">
        <div class="play-icon">
            <i class="fab fa-google-play"></i>
        </div>
    </a>
    <a href="#">
        <div class="play-icon margin-bottom">
            <i class="fab fa-apple" style="font-size: 36px;"></i>
        </div>
    </a>
    <!--google play end-->
    <!--chat icon start-->
    <section class="chatbox js-chatbox">
        @*<div class="chatbox__header">
            <h3 class="chatbox__header-cta-text">
                         <span class="chatbox__header-cta-icon">
                             <i class="fas fa-comments"></i>
                         </span>Let's chat
                     </h3>
                     <button class="js-chatbox-toggle chatbox__header-cta-btn u-btn"><i class="fas fa-chevron-up"></i></button>
                 </div>*@
        <!-- End of .chatbox__header -->
        <div class="js-chatbox-display chatbox__display">

        </div>
        <!-- End of .chatbox__display -->
        <form class="js-chatbox-form chatbox__form">
            <input type="text" class="js-chatbox-input chatbox__form-input" placeholder="Type your message..." required>
            <button class="chatbox__form-submit u-btn"><i class="fas fa-paper-plane"></i></button>
        </form>
        <!-- End of .chatbox__form -->
    </section>
    <!-- End of .chatbox -->
    <a href="#" class="js-chatbox-toggle" style="display: none;">
        <div class="contact-icon">
            <i class="fas fa-comments"></i>
        </div>
    </a>
    <!--chat icon end-->
    <!--floating icon end-->
    <main id="main" role="main">
        @RenderBody()
    </main>
    <!--footer start-->
    <section id="footerSec">
        <footer>
            <div class="new_footer_top">
                <div class="row" style="margin-left: 0px;">
                    <div class="footer_bg">
                        <div id="motorCycle" class="footer_bg_one"></div>
                        <div class="footer_bg_two"></div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s"
                             style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                            <div>
                                <div class="banner-content">
                                    <h3 class="f-title f_600 t_color f_size_18">Please Subscribe Now</h3>
                                    <div class="m-auto tracking-input tracking-input-footer">
                                        <input type="text" class="textbox textbox-footer" placeholder="Enter Your Email">
                                        <input title="Search" type="submit" class="button button-footer" value="Submit">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 text-center">
                        <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s"
                             style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_600 t_color f_size_18">Get Our App</h3>
                            <a href="#">
                                <img src="~/images/home/google-play.svg" class="link-social-icon" alt="Google Play" />
                            </a>
                            <a href="#">
                                <img src="~/images/home/apple.svg" class="link-social-icon" alt="Apple Store" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s"
                             style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_600 t_color f_size_18">Social Links</h3>
                            <div class="f_social_icon">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-sm-7">
                            <p class="mb-0 f_400">©ATC CO., LTD. 2020. All rights reserved.</p>
                        </div>
                        <div class="col-lg-6 col-sm-5 text-right">
                            <p>Powered By <a class="footer-link" href="https://www.atc.co.bd/">ATC</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </section>
    <!--footer end-->
    <!-- Javascript -->
    <style id="dropdown_hack_style"></style>
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script>
        $('.banner-slider').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            dots: false,
            autoplay: true,
            autoplaySpeed: 4000,
        });
        $('.testmonial-slider').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            dots: false,
            autoplay: true,
            autoplaySpeed: 4000,
            fade: true,
            arrows: true,
        });
    </script>
</body>
</html>

