@{
    ViewBag.title = "Japax Courrier - Pricing";
}
@*<script src="~/js/pricing.js"></script>*@

<link href="~/css/pricing1.css" rel="stylesheet" />
<link href="~/css/service-common.css" rel="stylesheet" />
<!-- Headline start -->
<section class="banner">
    <div class="container">
        <div class="row banner-row">
            <div class="col-md-6">
                <div class="promo-title">
                    <h2>Prices & Plans</h2>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="image-dance normal-zoom">
                    <img id="module" src="~/images/pricing/price-removebg-preview.png" class="banner-pricing-img">
                </div>
            </div>
        </div>
    </div>
</section>
@*<section class="banner">
    <div class="container">
        <div class="row banner-row">
            <div class="col-md-6">
                <div class="promo-title">
                    <h3>Prices and Plans</h3>
                </div>
                <p class="promo-details">
                        We provide pick up and drop service.<br>
                        You can take our service from anywhere
                    </p>
            </div>
            <div class="col-md-6 text-center">
                <img src="~/images/pricing/price-removebg-preview.png" />
            </div>
         </div>
    </div>
</section>*@
    <!-- Headline end -->
    <!-- Pricing Chart Table Start -->



<section class="banner-after-sec">
    <div class="main">
        <div class="table-responsive">
            <table class="price-table">
                <tbody>
                    <tr class="price-table-head">
                        <td>
                            <img src="~/images/pricing/flight.png" class="icon" /><br>
                            Destination
                        </td>
                        <td>
                            <img src="~/images/pricing/package-removebg-preview.png" class="icon" /><br>
                            Package Type
                        </td>
                        <td>
                            <img src="~/images/pricing/dimension.png" class="icon" /><br>
                            Dimension
                        </td>
                        <td>
                            <img src="~/images/pricing/parcel-weight.png" class="icon" /><br>
                            Weight
                        </td>
                        <td>
                            <img src="~/images/pricing/fast-delivery.png" class="icon" /><br>
                            Delivery Type
                        </td>
                        <td>
                            <img src="~/images/pricing/cost.png" class="icon" /><br>
                            Cost
                        </td>
                    </tr>
                    @*<tr>
            <td class="price">
            </td>
            <td class="price">
            </td>
            <td class="price">
            </td>
        </tr>  *@
                    <tr>
                        <td rowspan="13">
                            Inside City
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="4">
                            Document
                        </td>
                        <td rowspan="4">
                            8"X8"X8"
                        </td>
                        <td rowspan="4">
                            1 KG
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Regular
                        </td>
                        <td>
                            10 TK
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Next Day
                        </td>
                        <td>
                            20 Tk
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Express
                        </td>
                        <td>
                            50 Tk
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="4">
                            Standard
                        </td>
                        <td rowspan="4">
                            10"X10"X10"
                        </td>
                        <td rowspan="4">
                            2 KG
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Regular
                        </td>
                        <td>
                            10 TK
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Next Day
                        </td>
                        <td>
                            20 Tk
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Express
                        </td>
                        <td>
                            50 Tk
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="4">
                            Large
                        </td>
                        <td rowspan="4">
                            15"X15"X15"
                        </td>
                        <td rowspan="4">
                            5 KG
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Regular
                        </td>
                        <td>
                            10 TK
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Next Day
                        </td>
                        <td>
                            20 Tk
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Express
                        </td>
                        <td>
                            50 Tk
                        </td>
                    </tr>


                    <tr>
                        <td rowspan="13">
                            Outside City
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="4">
                            Document
                        </td>
                        <td rowspan="4">
                            8"X8"X8"
                        </td>
                        <td rowspan="4">
                            1 KG
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Regular
                        </td>
                        <td>
                            10 TK
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Next Day
                        </td>
                        <td>
                            20 Tk
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Express
                        </td>
                        <td>
                            50 Tk
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="4">
                            Standard
                        </td>
                        <td rowspan="4">
                            10"X10"X10"
                        </td>
                        <td rowspan="4">
                            2 KG
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Regular
                        </td>
                        <td>
                            10 TK
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Next Day
                        </td>
                        <td>
                            20 Tk
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Express
                        </td>
                        <td>
                            50 Tk
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="4">
                            Large
                        </td>
                        <td rowspan="4">
                            15"X15"X15"
                        </td>
                        <td rowspan="4">
                            5 KG
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Regular
                        </td>
                        <td>
                            10 TK
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Next Day
                        </td>
                        <td>
                            20 Tk
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Express
                        </td>
                        <td>
                            50 Tk
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</section>




@*    <div class="price-table">
        <div class="container">
            <table>
                <tbody>
                    <tr>
                        <th colspan="3">
                            <div>Sign up Periods</div>
                        </th>
                    </tr>
                    <tr>
                        <td>Minimum Sign up Period</td>
                        <td>0</td>
                        <td><strong>2</strong></td>
                    </tr>
                    <tr>
                        <th colspan="3">
                            <div>Delivery Area, Cost and Time</div>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Inside Dhaka (Next Day Standard)
                        </td>
                        <td>80taka</td>
                        <td>24-48 hrs</td>
                    </tr>
                    <tr>
                        <td>
                            Inside Dhaka (Next Day Guaranteed)
                        </td>
                        <td>80taka</td>
                        <td>24-48 hrs</td>
                    </tr>
                    <tr>
                        <td>
                            Inside Dhaka (Same Day Guaranteed)
                        </td>
                        <td>80taka</td>
                        <td>24-48 hrs</td>
                    </tr>
                    <tr>
                        <td>
                            Outside Dhaka (Metro)
                        </td>
                        <td>80taka</td>
                        <td>24-48 hrs</td>
                    </tr>
                    <tr>
                        <td>
                            Outside Dhaka (Thana/Union)
                        </td>
                        <td>80taka</td>
                        <td>24-48 hrs</td>
                    </tr>
                    <tr>
                        <th colspan="3">
                            <div>General</div>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Number of Orders
                        </td>
                        <td>Unlimited</td>
                        <td>Unlimited</td>
                    </tr>
                    <tr>
                        <td>
                            Other Courier Integrations
                        </td>
                        <td>Yes</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>
                            Bulk Order Upload
                        </td>
                        <td>Yes</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>
                            Multi Pickup Address
                        </td>
                        <td>Yes</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <th colspan="3">
                            <div>Shipping Tools & Features</div>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Automated Shipping Tracking
                        </td>
                        <td>Yes</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>
                            NDR (Non Delivery Report) Management
                        </td>
                        <td>Yes</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>
                            Automated Emails and SMS
                        </td>
                        <td>Yes</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>
                            Label Printing Management
                        </td>
                        <td>Yes</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>
                            Basic Report
                        </td>
                        <td>Yes</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <th colspan="3">
                            <div>Accounting & Reconciliation</div>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Real-Time Billing Management
                        </td>
                        <td>Yes</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>
                            COD Reconcilliation, Reporting and Settlement
                        </td>
                        <td>Yes</td>
                        <td><span>Yes</span></td>
                    </tr>
                   <tr>
                        <th colspan="3">
                            <div>Others</div>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Training & Setup Assistance
                        </td>
                        <td>No</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>
                            User Account
                        </td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>
                            Ticket Support
                        </td>
                        <td>Yes</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>
                            Access to API
                        </td>
                        <td>No</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>
                            Free Booster Credit (After 10 successful order process)
                        </td>
                        <td>100 taka</td>
                        <td>200 taka</td>
                    </tr>
                    <tr>
                        <td>
                            Support service
                        </td>
                        <td>Call center and tickets</td>
                        <td>Dedicated KAM</td>
                    </tr>
                   <tr>
                        <th colspan="3">
                            <div>Call Center & Tickets</div>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Email - support@atc.co.bd<br /> Hotline -01234567
                        </td>
                        <td>Free of Cost</td>
                        <td>Free of Cost</td>
                    </tr>
                    <tr>
                        <th colspan="3">
                            <div>KAM Service (Monthly Recruitment Cost)</div>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Dedicated contact person<br />Available over dedicated mobile number/WhatsApp/Email
                        </td>
                        <td>NOt Available</td>
                        <td>500 taka</td>
                    </tr>
                    <tr>
                        <td>
                            Business Hours 9 AM - 6 PM
                        </td>
                        <td>Yes</td>
                        <td>Yes</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>




    <div id="Dhaka" class="tabcontent">
        <h3>Dhaka</h3>
        <p>We are coming soon!</p>
    </div>

    <div id="Rajshahi" class="tabcontent">
        <h3>Rajshahi</h3>
        <p>We are coming soon!</p>
    </div>

    <div id="Khulna" class="tabcontent">
        <h3>Khulna</h3>
        <p>We are coming soon!</p>
    </div>

    <div id="Barisal" class="tabcontent">
        <h3>Barisal</h3>
        <p>We are coming soon!</p>
    </div>

    <div id="Sylhet" class="tabcontent">
        <h3>Sylhet</h3>
        <p>We are coming soon!</p>
    </div>

    <div id="Rangpur" class="tabcontent">
        <h3>Rangpur</h3>
        <p>We are coming soon!</p>
    </div>

    <div id="Mymensingh" class="tabcontent">
        <h3>Mymensingh</h3>
        <p>We are coming soon!</p>
    </div>*@
@*Tabbed Design End*@


<script>
    $('.image-dance').on('mousemove', function (event) {
        // This gives you the position of the image on the page
        var bbox = event.target.getBoundingClientRect();

        // Then we measure how far into the image the mouse is in both x and y directions
        var mouseX = event.clientX - bbox.left;
        var mouseY = event.clientY - bbox.top;

        // Then work out how far through the image as a percentage the mouse is
        var xPercent = (mouseX / bbox.width) * 100;
        var yPercent = (mouseY / bbox.height) * 100;

        // Then we change the `transform-origin` css property on the image to center the zoom effect on the mouse position
        //event.target.style.transformOrigin = xPercent + '% ' + yPercent + '%';
        // It's a bit clearer in jQuery:
        $(this).css('transform-origin', (xPercent + '% ' + yPercent + '%'));
        // We add the '%' units to make sure the string looks exactly like the css declaration it becomes.

    });

    // If you want it to automatically trigger on hover
    $('.image-dance').on('mouseenter', function () {
        $(this).addClass('zoom-in');
        $(this).removeClass('normal-zoom');
    });

    // and stop when not hovering
    $('.image-dance').on('mouseleave', function () {
        $(this).addClass('normal-zoom');
        $(this).removeClass('zoom-in');
    });
</script>