@*
    ViewData["Title"] = "- service";
*@

<!-- Image Banner start -->
@*<section class="image-banner">
        <div class="image-aboutus-banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="lg-text">Services we provide</h1>
                        <p class="image-aboutus-para">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
<!-- Image Banner end -->
<!--Service details section start -->
@*<section class="service-details" style="padding-top: 90px;">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="item">
                        <div class="text-icon">
                            <span class="icon">
                                <span class="wrap-icon">
                                    <i class="fa fa-clipboard"></i>
                                </span>
                                <h5 class="text-title">Document</h5>
                                <p class="item-details">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="item">
                        <div class="text-icon">
                            <span class="icon">
                                <span class="wrap-icon">
                                    <i class="fa fa-clipboard"></i>
                                </span>
                                <h5 class="text-title">Document</h5>
                                <p class="item-details">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="item">
                        <div class="text-icon">
                            <span class="icon">
                                <span class="wrap-icon">
                                    <i class="fa fa-clipboard"></i>
                                </span>
                                <h5 class="text-title">Document</h5>
                                <p class="item-details">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="item">
                        <div class="text-icon">
                            <span class="icon">
                                <span class="wrap-icon">
                                    <i class="fa fa-clipboard"></i>
                                </span>
                                <h5 class="text-title">Document</h5>
                                <p class="item-details">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="item">
                        <div class="text-icon">
                            <span class="icon">
                                <span class="wrap-icon">
                                    <i class="fa fa-clipboard"></i>
                                </span>
                                <h5 class="text-title">Document</h5>
                                <p class="item-details">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="item">
                        <div class="text-icon">
                            <span class="icon">
                                <span class="wrap-icon">
                                    <i class="fa fa-clipboard"></i>
                                </span>
                                <h5 class="text-title">Document</h5>
                                <p class="item-details">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="item">
                        <div class="text-icon">
                            <span class="icon">
                                <span class="wrap-icon">
                                    <i class="fa fa-clipboard"></i>
                                </span>
                                <h5 class="text-title">Document</h5>
                                <p class="item-details">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="item">
                        <div class="text-icon">
                            <span class="icon">
                                <span class="wrap-icon">
                                    <i class="fa fa-clipboard"></i>
                                </span>
                                <h5 class="text-title">Document</h5>
                                <p class="item-details">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
<!--Service details section end -->
<link href="~/css/service-common.css" rel="stylesheet" />
<link href="~/css/service-main.css" rel="stylesheet"/>
<section class="banner">
    <div class="container">
        <div class="row banner-row">
            <div class="col-md-6">
                <div class="promo-title">
                    <h2>PickUp & Drop</h2>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="image-dance normal-zoom">

                    @*<img id="module" src="~/images/services/pickup/pickup.png">*@
                    @*<img id="module" src="~/images/services/online-service.svg" class="service-img">*@
                    <img id="module" src="~/images/services/tracking/tracking.svg" class="service-img">

                </div>
            </div>
        </div>
    </div>
</section>
